body {
  /*
    ** Remove or set this to transparent for default macos frosted glass look.
    ** You may also adjust this color to anything you like. Even make it opaque.
    */
  /* A heavy tint of purple (original screenshot from reddit) */
  /* background-color: rgba(135, 91, 204, 0.3); */
  /* A color more compatible with the rest of Firefox's dark gray theme */
  background-color: rgba(46, 41, 102, 0.2);
}

/* Just for giggles, a TV snow like effect - uncomment to use
body::before {
  content: "";
  background-image: url(https://i.sstatic.net/sIIwU.gif);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.1;
}
*/

#browser,
#navigator-toolbox,
#sidebar-main,
#tabbrowser-tabpanels {

  &,
  &>* {
    appearance: -moz-sidebar !important;
  }
}

#tabbrowser-tabs[orient="vertical"]:has(> #tabbrowser-arrowscrollbox[overflowing="true"]) {
  border-bottom: none !important;
  margin-bottom: 10px !important;
}

#browser {
  padding: 6px 10px 10px 10px;
}

#navigator-toolbox {
  padding-top: 8px;
  border: 0 !important;
}

#TabsToolbar {
  --toolbarbutton-inner-padding: 0 !important;
  min-height: 0 !important;
}

#TabsToolbar .titlebar-spacer {
  display: none !important;
}

#TabsToolbar .toolbar-items {
  display: none !important;
}

#TabsToolbar .titlebar-buttonbox-container {
  transform: translateY(21px);
  height: 0;
}

#nav-bar-customization-target {
  padding-left: 65px;
}

.browserContainer browser {
  border-radius: 10px !important;
  box-shadow: 0px 0 6px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#sidebar-box {
  border-radius: 10px !important;
}

browser#sidebar {
  border-radius: 0 0 10px 10px;
}

#sidebar,
.sidebar-panel {
  background: transparent !important;
}

#sidebar-splitter {
  width: 13px !important;
  border: 0 !important;
}

/* Firefox's new vertical tabs stuff */
#sidebar-main {
  tab.tabbrowser-tab>stack {
    font-size: 1.2rem;
  }
}

findbar {
  background: transparent !important;
  border: 0 !important;
  padding-block: 10px !important;
  padding-block-end: 0 !important;
}

.devtools-horizontal-splitter {
  height: 10px !important;
  background: transparent !important;
  margin: 0 !important;
}

.sidebar-splitter.shopping-sidebar-splitter {
  width: 10px !important;
  margin: 0 !important;
  border: 0 !important;
  border-inline-width: 0 !important;
  margin-inline-start: 0 !important;
}

shopping-sidebar {
  border-inline-start: 0 !important;

  & browser.shopping-sidebar {
    border-radius: 10px !important;
  }
}
