body {
  /* This is var(--toolbar-bgcolor); with opacity */
  background-color: rgba(43, 42, 51, .5);
}

#browser,
#navigator-toolbox,
#sidebar-main,
#tabbrowser-tabpanels {

  &,
  &>* {
    appearance: -moz-sidebar !important;
  }
}

#tabbrowser-tabs[orient="vertical"]:has(> #tabbrowser-arrowscrollbox[overflowing="true"]) {
  border-bottom: none !important;
  margin-bottom: 8px !important;
}

#tabbrowser-tabbox {
  @media (-moz-bool-pref: "sidebar.revamp") {
    outline: none !important;
  }
}

#browser {
  padding: 3px 8px 8px 8px;
}

#navigator-toolbox {
  padding-top: 5px;
  border: 0 !important;
}

#TabsToolbar {
  --toolbarbutton-inner-padding: 0 !important;
  min-height: 0 !important;
}

#TabsToolbar .titlebar-spacer {
  display: none !important;
}

#TabsToolbar .toolbar-items {
  display: none !important;
}

#TabsToolbar .titlebar-buttonbox-container {
  transform: translateY(21px);
  height: 0;
}

.titlebar-spacer {
  display: none;
}

.browserContainer browser {
  border-radius: 6px !important;
  box-shadow: 0px 0 6px 1px rgba(0, 0, 0, 0.25);
  border: 1px solid rgba(0, 0, 0, 0.25);
}

#sidebar-box {
  border-radius: 6px !important;
}

browser#sidebar {
  border-radius: 0 0 8px 8px;
}

#sidebar,
.sidebar-panel {
  background: transparent !important;
}

#sidebar-splitter {
  width: 13px !important;
  border: 0 !important;
}

/* Firefox's new vertical tabs stuff */
#sidebar-main {
  &:not([hidden]) {
    margin-left: -8px;
  }

  tab.tabbrowser-tab>stack {
    font-size: 1.2rem;
  }
}

#sidebar-main,
sidebar-main,
.wrapper:has(.tools-and-extensions) {
  background: transparent !important;
}

.wrapper:has(.tools-and-extensions) {
  border: none !important;
  padding-left: 0 !important;
}

findbar {
  background: transparent !important;
  border: 0 !important;
  padding-block: 8px !important;
  padding-block-end: 0 !important;
}

.devtools-horizontal-splitter {
  height: 8px !important;
  background: transparent !important;
  margin: 0 !important;
}

.sidebar-splitter.shopping-sidebar-splitter {
  width: 8px !important;
  margin: 0 !important;
  border: 0 !important;
  border-inline-width: 0 !important;
  margin-inline-start: 0 !important;
}

shopping-sidebar {
  border-inline-start: 0 !important;

  & browser.shopping-sidebar {
    border-radius: 6px !important;
  }
}

/* Horizontal Tabs (for upcoming 133) */
.tab-background {
  border-radius: var(--tab-border-radius) var(--tab-border-radius) 0 0;
  margin-block: var(--tab-block-margin) 0;
}
